body {
    /* background-color: #000; */
    /* margin: 0px; */
    font-family: Roboto Mono, monospace;
    /* --main-color:#02343F; */
    --main-color: #444341;
    --bg-color:#eae7dc;
    color: var(--main-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  
#F0EDCC
#02343F
#eae7dc*/